<!-- ADD APP VIEW using FormController-->
<div class="col-md-8 col-md-offset-2">

  <!--  ADD APP VIEW Title -->
  <div class="page-header"><h2>New Application</h2></div>

  <div> <!-- Bootstrap div for new application form-->

    <!-- ADD NEW APPLICATION FORM INPUT FIELDS -->
    <form name='addNewApp' method='post' ng-submit="submitForm(addNewApp.$valid)" novalidate>

      <!-- APPLICATION START DATE: Optional-->
      <div class="form-group">
        <label>Application Start Date</label>
        <input type="date" name="startDate" class="form-control" ng-model="data.startDate">
      </div>

      <!-- COMPANY NAME: Required-->
      <div class="form-group" ng-class="{ 'has-error' : addNewApp.companyName.$invalid }">
        <label>Company Name<img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="text" placeholder="App|Trak" name="companyName" class="form-control" ng-model="data.companyName" required>
      </div>

      <!-- POSITION: Required-->
      <div class="form-group" ng-class="{ 'has-error' : addNewApp.position.$invalid }">
        <label>Position <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="text" placeholder="Software Engineer" name="position" class="form-control" ng-model="data.role" required>
      </div>

      <!-- JOB DESCRIPTION: Optional-->
      <div class="form-group">
        <label>Job Description</label>
        <input type="text" placeholder="Create awesome apps!" name="jobDescription" class="form-control" ng-model="data.jobDescription">
      </div>

      <!-- APPLIED THROUGH: Optional-->
      <div class="form-group">
        <label>Applied Through</label>
        <input type="text" placeholder="LinkedIn" name="appliedThrough" class="form-control" ng-model="data.appliedThrough">
      </div>

      <!-- CONTACT NAME: Required-->
      <div class="form-group" ng-class="{ 'has-error' : addNewApp.contactName.$invalid }">
        <label>Contact Name <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="text" placeHolder="So Jung" name="contactName" class="form-control" ng-model="data.contactName" required>
      </div>

      <!-- CONTACT PHONE NUMBER: Required, Only accepts number-->
      <div class="form-group" ng-class="{ 'has-error' : addNewApp.contactPhone.$invalid }">
        <label>Contact Phone Number <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="text" name="contactPhone" class="form-control" ng-model="data.contactPhone" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" required/>
      </div>

      <!-- CONTACT EMAIL: Required, has to be validated-->

      <div class="form-group" ng-class="{ 'has-error' : addNewApp.contactEmail.$invalid }">

        <label>Contact Email Address<img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="email" placeholder="jobs@apptrak.com" name="contactEmail" class="form-control" ng-model="data.contactEmail" required>

        <!-- Invalid input error message -->
        <p ng-show="addNewApp.contactEmail.$invalid && !addNewApp.contactEmail.$pristine" class="help-block">Not a valid email.</p>
      </div>

      <!-- DATE APPLIED: Optional-->
      <div class="form-group">
        <label>Date Applied</label>
        <input type="date" name="dateApplied" class="form-control" ng-model="data.dateApplied">
      </div>

      <!-- DATE OF LAST CONTACT: Optional-->
      <div class="form-group">
        <label>Date of Last Contact</label>
        <input type="date" name="dateOfLastContact" class="form-control" ng-model="data.dateOfLastContact">
      </div>

      <!-- Add Button -->
      <button class='btn btn-info' ng-disabled="addNewApp.$invalid">Add</button>

    </form> <!-- Closing ADD NEW APPLICATION FORM INPUT FIELDS -->
  </div> <!-- Closing Bootstrap div for new application form -->
</div> <!--  Closing ADD APP VIEW -->

<br><br>
