form {
  padding-left: 10%;
  padding-right: 10%;
  max-width:80%;
}

h1, h2, h3 {
   text-align: center;
}

input {
  padding: 30px;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}


#btn-info {
  background-color: #7cc5dd;
  border-style: none;
}

#btn-primary {
  background-color: #6076a3;
  border-style: none;
}

#openApps {
  padding-top: 20px
}

#title {
  margin-top: 60px;
  font-size: 500%;
}

#card-title {
  font-size:130%;
}

#addButton {

  margin-top: 15px;
}

#stage {
  float: left;
  padding-left: 20%;
}

#offer {
  float: right;
  padding-right: 20%;
}

#first {
  float: left;
  padding-left: 20%;
}

#second {
  float: right;
  padding-right: 20%;
}

col {
  column-width: 50%;
}

#outreach {
  min-width: 100%;
}

#field {
  padding: 10px;
  font-size: large;
}

.mdl-textfield__input {
  padding: 15px;
}

#card {
  border-radius: 5px;
  width: 300px;
  height: 450px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px 20px 0 20px;
  float: left;
  display: inline-block;
  line-break: auto;
  padding: 15px;
  font-size: medium;
  overflow: hidden;
  background-color: #edeff4;
}

#search-one {

    display: inline-block;
}

.add-stage {
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: medium;
  width: 300px;
  height: 450px;
  margin: 20px 20px 0 20px;
  float: left;
  display: block;
  padding: 15px;
  background-color: #d1e6fc;
}

#list-item {
    width: 90%;
    height:600px;
    display:inline-block;
    margin-top: 30px;
    overflow: scroll;
}

#stage-name {
  border-radius: 5px;
  width: 300px;
  height: 450px;
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #edfaff;
  margin: 20px 20px 0 20px;
  position: relative;
  float: left;
  display: block;
  padding: 15px;
}

input {
  height: 20px;
}

#positions {
  margin:auto;
  overflow:scroll;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading {
  margin-bottom: 30px;
}
.form-signin,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.auth {
  margin-top: 100px;
}
