<div class = "auth">

  <!-- Log In Form Input Fields -->
  <form class="form-signin" name="signInForm" ng-submit="signin(signInForm.$valid)" novalidate>

    <!-- Log In Page Title -->
    <h2 class="form-signin-heading">Log In</h2>
    <!-- Email: Required field, has to be validated -->
    <div ng-class="{ 'has-error' : signInForm.username.$invalid && !signInForm.username.$pristine }">

      <label class="sr-only">Username<img height='10px' width='10px' src='../Assets/required.png' /></label>
      <input type="text" name="username" placeholder="Username" class="form-control" ng-model="user.username" ng-minlength="6" ng-maxlength="20" required autofocus>

    </div>

    <!-- Password: Required field, has to be validated -->
    <div ng-class="{ 'has-error' : signInForm.password.$invalid && !signInForm.password.$pristine }">

      <label class="sr-only">Password <img height='10px' width='10px' src='../Assets/required.png' /></label>
      <input type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password" required>

    </div>

    <!-- Form validation Error messages -->
    <div>
      <!-- Invalid Username error message -->
      <p ng-show="signInForm.username.$error.minlength" class="help-block">Username is too short.</p>
      <p ng-show="signInForm.username.$error.maxlength" class="help-block">Username is too long.</p>

      <!-- Invalid Password error message -->
      <p ng-show="signInForm.password.$invalid && !signInForm.password.$pristine" class="help-block">Please Enter a password</p>
      <br />
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="signInForm.$invalid">Log In</button>

    <div>
      <br />
      <p>Need an account? <a href="/#!/signup">Sign up</a></p>
    </div>

  </form> <!-- Closing Log In From Input Fields -->
</div> <!-- Closing Auth Div -->
