<div id = "logInView">

  <!--Page Title -->
  <div class="page-header"><h1>Login</h1></div>

  <div class ="col-md-offset-2 col-md-10">

    <!-- Sign Up Form Input Fields -->
    <form name="signInForm" ng-submit="signin(signInForm.$valid)" novalidate>

      <!-- Email: Required field, has to be validated -->
      <div class="form-group" ng-class="{ 'has-error' : signInForm.username.$invalid && !signInForm.username.$pristine }">

        <label>Username<img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="6" ng-maxlength="20">

        <!-- Invalid input error message -->
        <p ng-show="signInForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="signInForm.username.$error.maxlength" class="help-block">Username is too long.</p>
      </div>

      <!-- Password: Required field, has to be validated -->
      <div class="form-group" ng-class="{ 'has-error' : signInForm.password.$invalid && !signInForm.password.$pristine }">

        <label>Password <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>

        <!-- Invalid input error message -->
        <p ng-show="signInForm.password.$invalid && !signInForm.password.$pristine" class="help-block">Please Enter a password</p>
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="signInForm.$invalid">Log In</button>

    </form> <!-- Closing Log In From Input Fields -->

    <br>
    <p class ="col-md-offset-1 col-md-10">Need an account? <a href="/#!/signup">Sign up</a></p>

  </div>  <!-- Closing Bootstrap Grid div -->
</div> <!-- Closing logInView -->
