<div id = "signUpView">

  <!--Page Title -->
  <div class="page-header"><h1>Signup</h1></div>

  <div class ="col-md-offset-2 col-md-10">

    <!-- Sign Up Form Input Fields -->
    <form name="signUpForm" ng-submit="signup(signUpForm.$valid)" novalidate>

      <!-- USERNAME: Required field, has to be longer than 6 char, less than 20 -->
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.username.$invalid && !signUpForm.username.$pristine }">

        <label>Username<img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="6" ng-maxlength="20">

        <!-- Invalid input error message -->
        <p ng-show="signUpForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="signUpForm.username.$error.maxlength" class="help-block">Username is too long.</p>
      </div>

      <!-- Email: Required field, has to be validated -->
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">

        <label>Email<img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>

        <!-- Invalid input error message -->
        <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" class="help-block">Enter a valid email.</p>
      </div>

      <!-- Password: Required field, has to be validated -->
      <div class="form-group" ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">

        <label>Password <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>

        <!-- Invalid input error message -->
        <p ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine" class="help-block">Not a valid password</p>
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid">Sign Up</button>
    </form>  <!-- Closing Sign Up From Input Fields -->

    <br />
    <p class ="col-md-offset-1 col-md-10">Already have an account? <a href="/#!/login">Log in</a></p>

  </div>  <!-- Closing Bootstrap Grid div -->
</div> <!-- Closing singUpView -->
