<div class="container" ng-controller='AuthController'>
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span>Signup</h1>
    <form name="signUpForm" method="post">
      <div class="form-group">
        <label>Username <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input
          type="text"
          class="form-control"
          name="email"
          ng-model="user.username"
        >
        <label>Email <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input
        type="email"
        class="form-control"
        name="email"
        ng-model="user.email"
        required
        >
        <label>Password <img height='10px' width='10px' src='../Assets/required.png' /></label>
        <input
          type="password"
          class="form-control"
          name="password"
          ng-model="user.password"
        >
      </div>  <!-- closing email div line 23 -->
      <button type="submit" class="btn btn-warning btn-lg" ng-click='signUpForm.$valid && signup()'>Signup</button>
    </form>  <!-- closing Post form line 4 -->
    <hr>
    <p>Already have an account? <a href="/#!/login">Login</a></p>
  </div>  <!-- closing div line 2 -->
</div>  <!-- closing div line 1 -->
